In [1]:
import numpy as np

In [2]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [3]:
ages.append(min(ages))
ages.append(max(ages))
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [4]:
np.median(ages)

24.0

In [5]:
np.average(ages)

22.75

In [7]:
range_ages = range(min(ages),max(ages))
range_ages

range(19, 26)

In [13]:
dog = {
'name' : 'peter',
'color' : 'black',
'breed' : 'Bernedoddle',
'legs' : 'four',
'age' : '17 weeks'
}
dog

{'name': 'peter',
 'color': 'black',
 'breed': 'Bernedoddle',
 'legs': 'four',
 'age': '17 weeks'}

In [14]:
student = {
'first_name' : 'Yaswanth',
'last_name' : 'Inuganti',
'gender' : 'Male',
'age' : 23,
'marital_status' : 'single',
'skills' : ['Positive attitude'],
'city' : 'Kansas',
'address' : 'Floyd Dr'
}
student

{'first_name': 'Yaswanth',
 'last_name': 'Inuganti',
 'gender': 'Male',
 'age': 23,
 'marital_status': 'single',
 'skills': ['Positive attitude'],
 'city': 'Kansas',
 'address': 'Floyd Dr'}

In [15]:
len(student)

8

In [16]:
print(student['skills'])
print(type(student['skills']))

['Positive attitude']
<class 'list'>

In [17]:
student['skills'].append('multi-tasking')
student

{'first_name': 'Yaswanth',
 'last_name': 'Inuganti',
 'gender': 'Male',
 'age': 23,
 'marital_status': 'single',
 'skills': ['Positive attitude', 'multi-tasking'],
 'city': 'Kansas',
 'address': 'Floyd Dr'}

In [18]:
student.keys()

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'city', 'address'])

In [20]:
student.values()

dict_values(['Yaswanth', 'Inuganti', 'Male', 23, 'single', ['Positive attitude', 'multi-tasking'], 'Kansas', 'Floyd Dr'])

In [21]:
S1 = ('john','ibrahim','sara','mira')
S1

('john', 'ibrahim', 'sara', 'mira')

In [22]:
brothers = ('john','ibrahim')
sisters = ('sara','mira')
siblings = sisters + brothers
siblings

('sara', 'mira', 'john', 'ibrahim')

In [23]:
len(siblings)

4

In [24]:
father = 'paul'
mother = 'jenny'
family_members = siblings + (father,mother)
family_members

('sara', 'mira', 'john', 'ibrahim', 'paul', 'jenny')

In [25]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [26]:
len(it_companies)

7

In [27]:
it_companies.add('Twitter')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [32]:
it_companies.update(['Wipro','Infosis'])
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Infosis',
 'Microsoft',
 'Oracle',
 'Twitter',
 'Wipro'}

In [33]:
it_companies.remove('Wipro')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Infosis',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [ ]:
using remove will throw exception and discard doesn't

In [34]:
A.union(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [35]:
A.intersection(B)

{19, 20, 22, 24, 25, 26}

In [36]:
A.issubset(B)

True

In [37]:
A.isdisjoint(B)

False

In [38]:
A.union(B) and B.union(A)

{19, 20, 22, 24, 25, 26, 27, 28}

In [39]:
A.symmetric_difference(B)

{27, 28}

In [40]:
del A
del B

In [41]:
set_ages = set(age)
set_ages

{19, 22, 24, 25, 26}

In [42]:
len(age),len(set_ages)

(8, 5)

Question 5:

In [43]:
radius = 10
_area_of_circle_ = 3.14*radius**2
_area_of_circle_

314.0

In [44]:
_circum_of_circle_ = 2*3.14*radius
_circum_of_circle_

62.800000000000004

In [45]:
r = float(input("Enter the radius of circle = "))
area = 3.14*r**2
print('area of circle is : {}'.format(area))

Enter the radius of circle = 10
area of circle is : 314.0

Question 6:

In [48]:
s = "I am a teacher and I love to inspire and teach people"
s1 = s.split(' ')
set_s1=set(s1)
set_s1
len(set_s1)

10

Question 7:

In [49]:
print('Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinlan\tHelsinki')

Name	Age	Country	City
Asabeneh	250	Finlan	Helsinki

Question 8:

In [50]:
radius=10
area=3.14*radius**2
print('The area of circle with radius',radius,'is',area,'meter square')

The area of circle with radius 10 is 314.0 meter square

Question 9:

In [55]:
lst = []
weight = []
no_of_students = int(input("Enter no of students: "))
print('\nEnter student weights in lbs:')
for i in range(0, no_of_students):
    lst.append(int(input()))

for i in range(0, no_of_students):
    weight.append(round(0.453592 * lst[i], 2))

print(weight)

Enter no of students: 4

Enter student weights in lbs:
144
156
134
143
[65.32, 70.76, 60.78, 64.86]

Question 10:

In [183]:
#The diagram below shows a dataset with 2 classes and 8 data points, each with only one feature value, labeled f.
#  Note that there are two data points with the same feature value of 6. These are shown as two x’s one above the other.
#1. Divide this data equally into two parts. Use first part as training and second part as testing.
#  Using KNN classifier, for K=3, what would be the predicted outputs for the test samples? Show how you arrived at your answer.
#2. Compute the confusion matrix for this and calculate accuracy, sensitivity and specificity values.


# 2 given classes are f1, f2 where f1 = dot , f2 = y

# 1 - f1
# 2 - f1
# 3 - f2
# 4 - nothing
# 5 - nothing
# 6 - f2
# 6 - f2
# 7 - f1
# 8 - nothing
# 9 - nothing
# 10 - f1
# 11 - f1
# 12 - nothing
# 13 - nothing


# assume each output class as f1 or f2, say dot means f1, X means f2
# The dataset that I decided from the diagram is on dataset variable defined below.
# lets seperate the features and outputs into 2 different arrays
# X = [[1], [2] ,[3], [6], [6], [7], [10], [11]] represents features for the given dataset
# y = [0, 0, 1, 1, 1, 0, 0, 0] represents classes for these features
# Then I applied a simple KNN algorithm
# Created the confusion matrix with the predicted values and ofc inbuilt methods
# Then I defined accuracy and specificity, sensitivity values as follows (inbuilt methods)

 

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics


dataset = [[1, 0], [2, 1], [3, 1], [6, 1], [6, 1], [7, 0], [10, 0], [11, 0]]
X = [[1], [2] ,[3], [6], [6], [7], [10], [11]]
y = [0, 1, 1, 1, 1, 0, 0, 0]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, random_state=42)


# print(X_train)
# print(X_test)
# print(y_train)
# print(y_test)


knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
predicted = knn.predict(X_test)
confusion_matrix = metrics.confusion_matrix(y_test, predicted)

TP = confusion_matrix[0][0]
FP = confusion_matrix[0][1]
FN = confusion_matrix[1][0]
TN = confusion_matrix[1][1]



print(f'testing inputs: {X_test}')
print(f'predicted outputs: {predicted}')
print(f'confusion matrix: \n{confusion_matrix}')
print(f'accuracy: \n {metrics.accuracy_score(y_test, predicted)}')
# print(f'sensitivity: \n {TP/(TP + FN)}') # Getting 0 / 0
print(f'specificity: \n {TN/(TN + FN)}')

testing inputs: [[2], [7], [1], [11]]
predicted outputs: [1 1 1 1]
confusion matrix:
[[0 3]
 [0 1]]
accuracy:
 0.25
specificity:
 1.0